<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="id.blackbear.vulnapk" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="id.blackbear.vulnapk.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="id.blackbear.vulnapk.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:debuggable="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/vulnapk" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.Vulnapk" android:usesCleartextTraffic="true">
        <activity android:exported="true" android:name="id.blackbear.vulnapk.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="id.blackbear.vulnapk.InsecureStorageActivity"/>
        <activity android:exported="true" android:name="id.blackbear.vulnapk.InsecureCryptoActivity"/>
        <activity android:exported="true" android:name="id.blackbear.vulnapk.VulnWeb"/>
        <activity android:exported="false" android:name="id.blackbear.vulnapk.SettingsActivity"/>
        <activity android:exported="false" android:name="id.blackbear.vulnapk.RootActivity"/>
        <provider android:authorities="id.blackbear.vulnapk.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
    </application>
</manifest>